<a href="https://colab.research.google.com/github/OmarKhaledAbdlhafez/machine-learning-/blob/master/ANN_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [0]:
df= pd.read_csv('Churn_Modelling.csv')

In [27]:
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [28]:
df.shape

(10000, 14)

In [29]:
X=df.iloc[:,3:13]
X.shape
X.head()

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619    France  Female  ...          1               1        101348.88
1          608     Spain  Female  ...          0               1        112542.58
2          502    France  Female  ...          1               0        113931.57
3          699    France  Female  ...          0               0         93826.63
4          850     Spain  Female  ...          1               1         79084.10

[5 rows x 10 columns]

In [30]:
y= df.iloc[:,13]
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [31]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder 
labelencoder_X_1 = LabelEncoder()
X.iloc[:, 1] = labelencoder_X_1.fit_transform(X.iloc[:, 1])
X.head()
print(X.shape)

(10000, 10)

In [32]:
labelencoder_X_2 = LabelEncoder()
X.iloc[:, 2] = labelencoder_X_2.fit_transform(X.iloc[:, 2])
X.head()
print(X.shape)

(10000, 10)

In [34]:
onehotencoder = OneHotEncoder()
X = onehotencoder.fit_transform(X).todense()
X = X[:, 1:]
print(X.shape)
X

(10000, 33867)

matrix([[0., 1., 0., ..., 0., 1., 0.],
        [0., 1., 0., ..., 0., 1., 0.],
        [0., 1., 0., ..., 0., 1., 0.],
        ...,
        [0., 1., 0., ..., 0., 1., 0.],
        [0., 1., 0., ..., 0., 1., 0.],
        [0., 1., 0., ..., 0., 1., 0.]])

In [0]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [0]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
x_train= sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [38]:
x_train

array([[-0.01118104,  0.01118104, -0.01118104, ..., -0.01118104,
         0.01118104, -0.01118104],
       [-0.01118104,  0.01118104, -0.01118104, ..., -0.01118104,
         0.01118104, -0.01118104],
       [-0.01118104,  0.01118104, -0.01118104, ..., -0.01118104,
         0.01118104, -0.01118104],
       ...,
       [-0.01118104,  0.01118104, -0.01118104, ..., -0.01118104,
         0.01118104, -0.01118104],
       [-0.01118104,  0.01118104, -0.01118104, ..., -0.01118104,
         0.01118104, -0.01118104],
       [-0.01118104,  0.01118104, -0.01118104, ..., -0.01118104,
         0.01118104, -0.01118104]])

In [0]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [0]:
model = Sequential()
model.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 33867))
model.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))
model.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))

In [0]:
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [21]:
X.shape

(10000, 16934)

In [45]:
model.fit(x_train,y_train, batch_size = 10, epochs = 10)

Epoch 1/10
8000/8000 [==============================] - 5s 579us/step - loss: 0.5278 - accuracy: 0.7960
Epoch 2/10
8000/8000 [==============================] - 3s 371us/step - loss: 0.4406 - accuracy: 0.7960
Epoch 3/10
8000/8000 [==============================] - 3s 364us/step - loss: 0.3617 - accuracy: 0.7960
Epoch 4/10
8000/8000 [==============================] - 3s 362us/step - loss: 0.2868 - accuracy: 0.7960
Epoch 5/10
8000/8000 [==============================] - 3s 360us/step - loss: 0.2521 - accuracy: 0.8376
Epoch 6/10
8000/8000 [==============================] - 3s 361us/step - loss: 0.2365 - accuracy: 0.8580
Epoch 7/10
8000/8000 [==============================] - 3s 372us/step - loss: 0.2318 - accuracy: 0.8614
Epoch 8/10
8000/8000 [==============================] - 3s 366us/step - loss: 0.2302 - accuracy: 0.8629
Epoch 9/10
8000/8000 [==============================] - 3s 372us/step - loss: 0.2281 - accuracy: 0.8654
Epoch 10/10
8000/8000 [==============================] - 3s 366us/step - loss: 0.2254 - accuracy: 0.8679

In [0]:
y_pred = model.predict(x_test)

In [52]:
score, acc = model.evaluate(x_test, y_test,
                            batch_size=10)
print('Test score:', score)
print('Test accuracy:', acc)

2000/2000 [==============================] - 0s 229us/step
Test score: 8.407699550394188
Test accuracy: 0.7975000143051147