<a href="https://colab.research.google.com/github/OmarKhaledAbdlhafez/Deep-Learning-A-Z-Hands-On-Artificial-Neural-Networks-/blob/master/ann%20project/ANN_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [0]:
df= pd.read_csv('Churn_Modelling.csv')

In [5]:
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [6]:
df.shape

(10000, 14)

In [7]:
X=df.iloc[:,3:13]
print(X.shape)
X.head()

(10000, 10)

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619    France  Female  ...          1               1        101348.88
1          608     Spain  Female  ...          0               1        112542.58
2          502    France  Female  ...          1               0        113931.57
3          699    France  Female  ...          0               0         93826.63
4          850     Spain  Female  ...          1               1         79084.10

[5 rows x 10 columns]

In [8]:
y= df.iloc[:,13]
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [9]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder 
labelencoder_X_1 = LabelEncoder()
X.iloc[:, 1] = labelencoder_X_1.fit_transform(X.iloc[:, 1])
X.head()
print(X.shape)

(10000, 10)

In [10]:
labelencoder_X_2 = LabelEncoder()
X.iloc[:, 2] = labelencoder_X_2.fit_transform(X.iloc[:, 2])
X.head()
print(X.shape)

(10000, 10)

In [11]:
onehotencoder = OneHotEncoder()
X = onehotencoder.fit_transform(X).todense()
X = X[:, 1:]
print(X.shape)
X

(10000, 16934)

matrix([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]])

In [0]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [0]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
x_train= sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [14]:
x_train.shape

(8000, 16934)

In [15]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [0]:
model = Sequential()
model.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 16934))
model.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))
model.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))

In [0]:
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [0]:
X.shape

(10000, 16934)

In [21]:
model.fit(x_train,y_train, batch_size = 10, epochs = 10)

Epoch 1/10
8000/8000 [==============================] - 5s 635us/step - loss: 0.5333 - accuracy: 0.7949
Epoch 2/10
8000/8000 [==============================] - 3s 419us/step - loss: 0.4547 - accuracy: 0.7960
Epoch 3/10
8000/8000 [==============================] - 3s 418us/step - loss: 0.3837 - accuracy: 0.7960
Epoch 4/10
8000/8000 [==============================] - 3s 420us/step - loss: 0.3191 - accuracy: 0.8259
Epoch 5/10
8000/8000 [==============================] - 3s 423us/step - loss: 0.2925 - accuracy: 0.8560
Epoch 6/10
8000/8000 [==============================] - 3s 426us/step - loss: 0.2821 - accuracy: 0.8570
Epoch 7/10
8000/8000 [==============================] - 3s 428us/step - loss: 0.2769 - accuracy: 0.8583
Epoch 8/10
8000/8000 [==============================] - 3s 430us/step - loss: 0.2736 - accuracy: 0.8585
Epoch 9/10
8000/8000 [==============================] - 3s 429us/step - loss: 0.2708 - accuracy: 0.8585
Epoch 10/10
8000/8000 [==============================] - 3s 426us/step - loss: 0.2677 - accuracy: 0.8585

In [0]:
y_pred = model.predict(x_test)

In [24]:
score, acc = model.evaluate(x_test, y_test,
                            batch_size=10)
print('Test accuracy:', acc)

2000/2000 [==============================] - 0s 237us/step
Test accuracy: 0.7979999780654907